.card
    position: relative
    width: 255px
    min-height: 294px !important
    background-color: $card-background-color
    border-radius: 6px
    color: $white
    overflow: hidden
    &__tag
        position: absolute
        top: 15px
        left: 15px
    &__img
        height: 144px
    &__descr
        display: flex
        flex-direction: column
        min-height: 88px
        padding-top: 15px
        padding-left: 15px
        padding-right: 25px
        border-bottom: 1px solid rgba(216, 216, 216, 0.1)
    &__title
        font-size: 16px
        line-height: 12px
        font-weight: normal
        margin-bottom: 10px
    &__subtitle
        color: $gray
        font-size: 14px
        line-height: 18px
    &__footer
        display: flex
        align-items: center
        justify-content: space-between
        padding: 15px
    &__date
        font-size: 13px
        line-height: 10px
