.menu
    padding-top: 30px
    padding-bottom: 14px
    border-bottom: 1px solid $border-color
    &__item
        font-weight: normal
        font-size: 14px
        line-height: 20px
        color: $white
        text-transform: uppercase
        padding-top: 6px
        padding-left: 30px
        padding-bottom: 6px